@use "variables";

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  max-width: 1440px;

  
}

.header__container {
    display: flex;
    max-width: 100%;
    padding-top: 104px;
    padding-bottom: 168px;
    padding-left: 133px;
    padding-right: 133px;
    background-color: variables.$main-background-color;
  }

  .header__watch-title {
    margin-bottom: 53px;
    font-size: 24px;
    line-height: 45px;
    font-weight: 300;
  }

  .header__title {
    margin-bottom: 43px;
    font-size: 250px;
    line-height: 230px;
  }

  .header__description {
    margin-bottom: 61px;
    font-size: 32px;
    line-height: 50px;
  }

.buy-wrapper {
  display: flex;

  .buy-link {
    display: block;
    background-color: variables.$darker-color;
    width: 278px;
    height: 82px;
    color: variables.$main-color;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    line-height: 82px;
    text-align: center;
  }
  &:hover {
    background-color: #5d5d5d;
    transition: 0.3s;
  }

  .price {
    background-color: variables.$main-color;
    width: 143px;
    height: 82px;
    color: #272727;
    text-decoration: none;
    font-size: 32px;
    font-weight: 300;
    line-height: 82px;
    text-align: center;
  }
}

.header__image {
  display: block;
  width: 408px;
  margin-top: -104px;
}

.popular-title {
  margin-top: 43px;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 45px;
}

.models-title {
  text-align: center;
  font-weight: 400;
  font-size: 72px;
  line-height: 81px;
  margin-bottom: 84px;
}

.item-wrapper {
  margin: 0 auto;
  width: 417px;
  margin-bottom: 85px;
}

.item-image-wrapper {
  display: flex;
  width: 417px;
  height: 630px;
  background-color: variables.$main-background-color;
  align-items: center;
  justify-content: center;
  margin-bottom: 67px;
}

.item-title {
  margin-bottom: 17px;
  font-size: 32px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.item-description {
  font-size: 32px;
  line-height: 50px;
  font-weight: 300;
  text-align: center;
}

.product-description-wrapper {
  margin: 0 auto;
  width: 417px;
  margin-top: 60px;
  padding-bottom: 142px;
}

.product-description-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 58px;
}

.product-description-title:after {
  content: "";
  display: block;
  width: 178px;
  height: 1px;
  margin: 9px auto;
  background-color: #707070;
}

.product-description {
  font-weight: 300;
  font-size: 24px;
  line-height: 41px;
  text-align: center;
}

.product-description-link {
  font-weight: 400;
  color: #bb8b5d;
}

.product-description-link:hover {
  color: #c9a788;
  transition: 0.3s;
}
